<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<script>document.write('Lista komentarzy');</script>

<ul th:each="comment : ${comments}">
    <li th:utext="${comment.id}"></li>
    <li th:utext="${comment.title}"></li>
    <li th:utext="${comment.description}"></li>
</ul>
<p><a th:href="@{/}">Wróc do menu</a></p>


</body>
</html>