<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Strona logowania</title>
</head>
<body>
<h1>Zaloguj się</h1>
<p>Standardowy użytkownik to <b>guest</b> z hasłem <b>guest</b></p>
<p th:if="${loginError}" class="error">Wrong user or password</p>
<form th:action="@{/login.html}" method="post">
    <label for="username">Nazwa użytkownika</label>:
    <input type="text" id="username" name="username" autofocus="autofocus" /> <br />
    <label for="password">Hasło</label>:
    <input type="password" id="password" name="password" /> <br />
    <input type="submit" value="Zaloguj" />
</form>
</body>
</html>